doctype html
html(lang="en")
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Petrovich
    link(rel='icon' href='./app/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='./app/favicon.ico' type='image/x-icon')
  body
    main.grid.container
      .sub_category_page
        .column_right.column_right_products_container
          .product__area
            #products_section
              .test-task
    
